name: ShellCheck

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './templates ./examples'
          exclude: SC1091
          format: gcc
          output-file: shellcheck_report.txt
